/* Общие стили */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #eddfd1; /* светло-желто-бежевый */
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Шапка */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #b54b05; /* темно-оранжевый */
  color: #eddfd1;
  padding: 10px 20px;
}

/* Логотип */
.logo {
  font-size: 20px;
  font-weight: bold;
}

/* Меню */
.nav {
  display: flex;
  gap: 20px;
  flex: 1;
  justify-content: center;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav a:hover {
  text-decoration: underline;
}

/* Кнопки авторизации */
.auth-buttons {
  display: flex;
  gap: 10px;
}

.auth-buttons .login-btn,
.auth-buttons .register-btn {
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
}


.register-btn {
  background-color: #f39c12;
  color: white;
}

/* Контент */
.content {
  flex: 1;
  padding: 40px;
  text-align: center;
}
.login-form-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease;
}

.login-form-container.open {
  max-height: 400px; /* больше, чем высота формы */
}
.register-form-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease;
}

.register-form-container.open {
  max-height: 600px; /* больше, чем высота формы */


/* Кнопка Войти */

.login-btn {
  background-color: #eddfd1; /* совпадает с фоном */
  color: #b54b05; /* тёмно-оранжевый текст */
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* При наведении */
.login-btn:hover {
  background-color: #d9cab3; /* немного темнее фона */
}

/* Активное состояние после клика */
.login-btn.active {
  background-color: #553118; /* ещё темнее */
  color: white;
}

/* Поля ввода с такими же скруглениями */
input[type="text"],
input[type="password"] {
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 6px 8px;
  outline: none;
  transition: border-color 0.3s ease;
  width: 100%;
  box-sizing: border-box;
}

/* При фокусе */
input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #553118;
}